
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background: rgb(15, 149, 238);
    display: flex;
    justify-content: space-around ;
    align-items: center;
    z-index: 100;
}

@media(max-width:500px){
    header{
        display: none;
    }

    .slider{
        height: 60vh;
    }

    .slider-content{
        width: 90%;
    }

    .slider-content p{
        margin-top: 20px;
        font-size: 1.5rem;
        text-wrap: balance;
    }

    h1{
        font-size:2rem;
    }

    .toColum{
        flex-direction: column;
    }
}

.nav .logo {
    font-size: 30px;
    font-weight: 700;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    margin-left: 35px;
}

.nav ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 3s;
}

.nav ul li:hover a,
.nav ul li.active a {
    color: rgb(41, 5, 245);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

.slider{
    width: 100%;
    height: 80vh;
    aspect-ratio: 16/9;
    background: #000;
    position:relative;
}

.silder-background{
    width:100%;
    height:100%;
    object-fit: cover;
    /* Opasiter du fond */
    filter: brightness(50%);
}

.slider-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

h1{
    color: aliceblue;
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.slider-content p{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 100;
}

.section{
    padding:100px ;
}

.boxed{
    max-width: 12800px;
    margin-inline:auto;
}

.flex{
    display: flex;
}

.dark{
    background: #0d2a69;
    color: rgb(249, 250, 250);
}

.N01{
    width: 40%;
}

.N02{
    width: 60%;
}

.N02 p{
    padding: 2%;
}

.text-center{
    text-align: center;
}

.N03{
    width: 25%;
}
.N03 img{
    height: 80px;
}

.P01{
    width:25%;
}

.azert{
    display: flex;
    gap: 40px;
}

.bg1 p a{
    color: black;
}

.bg2 p a{
    color: black;
}

.bg1, .bg2 {
    width: 25%;
}

.bg3{
    width: 25%;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}

h4{
    color: black;
}